.sidebar {
    -fx-background-color:linear-gradient(from 0.0% 0.0% to 93.10000000000001% 0.0%, #080935 0.0%, #080935 0.662%, #09084b 100.0%);
}

.sidebar-button {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-style: solid;
   -fx-alignment: CENTER;

    /* NEW STYLES */
    -fx-font-weight: bold;         /* Make text bold */
    -fx-pref-width: 140px;         /* Set uniform width */
    -fx-pref-height: 40px;         /* Set uniform height */
}

.sidebar-button:hover {
    -fx-background-color: #08c1ff;
    -fx-text-fill: #1E1E2F;
}

.navbar {
    -fx-background-color: #ffffff; /* Background color for the navbar */
    -fx-border-color: #cccccc; /* Border color for the navbar */
    -fx-border-width: 1; /* Border width for the navbar */
}

.nav-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;         /* Make text bold */

    -fx-text-fill: white; /* Text color for the nav button */
    -fx-background-color:linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #17014bff 0.0%, #17014bff 8.874%, #00327dff 100.0%);
    -fx-padding: 10 20; /* Padding for the nav button */
    -fx-cursor: hand; /* Hand cursor on hover */
}

.nav-button:hover {
    -fx-background-color:linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #17014bff 0.0%, #17014bff 8.874%, #09084b 100.0%);
}

.profile-image-container {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-background-radius: 50%; /* This ensures it's a circle */
    -fx-border-radius: 50%; /* This ensures the border is also circular */
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.5, 1, 1);
}
.nav-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.date-label {
    -fx-font-size: 14px;
    -fx-text-fill: #666;
}

.profile-image-container {
    -fx-cursor: hand;
}
